body {
    display: flex;
    flex-direction: column;
    background-color: #106EBE;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: #106EBE;
}
footer > p {
    color: #0FFCBE;
}
aside > p {
    background-color: #0FFCBE;
    color: #106EBE;
}
